/*.flex-about-container {
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.flex-image-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  position: relative;
  height:25vh;
}

.flex-image-element-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: space-between;
  width: inherit;
  position: relative;
}

.flex-head-element-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: space-between;
  width: inherit;
  position: relative;
  top: 0;
}

.flex-image{
  height: 70%;
}
.flex-head{
  flex-basis: 32%;
  height:10%;
  line-height: 14pt;
}

.head {
  font-size: 18pt;
  font-weight: bold;
  font-family: roboto;
}
.info-cards {
  position: relative;
  height: 40%;
  background-color: red;
  width: inherit;
  margin-top: 5%;
  z-index: 1
}

.card {
  position: absolute;
  height:40%;
  width: 24%;
  background-color: #111111;
  left: 40%;
}

.left-card, .right-card{
  display: none;
  opacity: 0.0;
}

@keyframes moveCardLeft{
  from {
    left: 40%;
    opacity: 0.0;

  }

  to {
    left: 5%;
    opacity: 1;

  }
}
@keyframes moveCardRight{
  from {
    left: 40%;
    opacity: 0.0;
    display:none;
  }

  to {
    left: 75%;
    opacity: 1.0;
    display:block;
  }
}

.move-left {
  display:block;
  z-index: 4;
  background-color: grey;
  animation-name: moveCardLeft;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  left: 5%;

}

.move-right {
  display:block;
  z-index: 3;
  background-color: grey;
  animation-name: moveCardRight;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  left:75%;
}

.top {
  cursor:pointer;
  z-index: 6;
  background-color: yellow;
}


@keyframes angelDrop {
  from {
    transform: scale(0.5,0.5);
  }
  to {
    transform: scale(1,1);
  }
}
.drop {
  animation-name: angelDrop;
  animation-duration: 2s;
}
.card-content {
  text-align: center;
  display: inline-block;
  font-size: x-large;
  padding: 10%;
  font-style: normal;
  font-family: Arial;
}


.row {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  height: 70%;
  text-align: justify;
  align-items: center;
  align-content: flex-start;
  margin-top: 5%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.col-lg-1 {
  flex-grow: 1;
  display: block;
  width:8.333333%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-lg-2 {
  width:16.6666666%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-8 {
  width: 66.666666%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.myimage {
  border-radius: 50%;
  background-image: url("./images/front-imgc.png");
  background-color: grey;
  width: 100%;
  aspect-ratio: 138 / 113;
}

.about {
  font-size: 18px;
  line-height: 36px;
}


.flip-card {
  background-color: transparent;
  height:100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}


.flip-card-back {
  background-color: #6c49db;
  color: white;
  transform: rotateY(180deg);
}
*/

#about .inner {
  display: block;
  text-align:justify;
}

#about .intro ul.skills-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  font-size: var(--fz-xl);
}


.about_me_img {
  position: relative;
  max-width: 300px;
  margin: 50px auto 0px;
  width: 70%;
}
.about_me_img .wrapper::after {
  border: 2px solid var(--green);
  top: 14px;
  left: 14px;
  z-index: -1;
}
.about_me_img .wrapper::before, .about_me_img .wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  border-radius: 50%;
  transition: var(--transition);
  box-sizing: border-box;
}
.about_intro ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
.about_intro ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}
.about_intro ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
  top:8px;
}

.about_me_img .wrapper::before {
  top: 0px;
  left: 0px;
  mix-blend-mode: screen;
}
.about_me_img .wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: 50%;
  background-color: var(--green);
}
.about_me_img .wrapper .img {
  position: relative;
  border-radius: var(--border-radius);
  transition: var(--transition);
  vertical-align: middle;
}

.about_me_img .wrapper:hover {
	display: hidden;
}


@media screen and (min-width:768px) {
#about .inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  text-align:justify;
}

#about .intro ul.skills-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  font-size: var(--fz-xl);
}


.about_me_img {
  position: relative;
  max-width: 300px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.about_me_img .wrapper::after {
  border: 2px solid var(--green);
  top: 14px;
  left: 14px;
  z-index: -1;
}
.about_me_img .wrapper::before, .about_me_img .wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  border-radius: 50%;
  transition: var(--transition);
  box-sizing: border-box;
}
.about_intro ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
.about_intro ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xl);
}
.about_intro ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
  top:8px;
}

.about_me_img .wrapper::before {
  top: 0px;
  left: 0px;
  mix-blend-mode: screen;
}
.about_me_img .wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: 50%;
  background-color: var(--green);
}
.about_me_img .wrapper .img {
  position: relative;
  border-radius: var(--border-radius);
  transition: var(--transition);
  vertical-align: middle;
}

.about_me_img .wrapper:hover {
	display: hidden;
}
}
