/*
.flex-contact-container {
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.flex-contact-element-container {

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  position: relative;
  width: 90%;
  box-sizing: border-box;

}

.resume {
  height: 40vh;
  width: 25%;
  background-color: #fff;
  box-shadow: 0px 3px 0px 0px #f0f2f4;
  box-shadow: 0px 3px 0px 0px #f0f2f4;
  box-shadow: 0px 1px 0px 0px #f0f2f4;
}

.email {
  height: 40vh;
  width: 25%;
  background-color: #fff;
  box-shadow: 0px 3px 0px 0px #f0f2f4;
  box-shadow: 0px 3px 0px 0px #f0f2f4;
  box-shadow: 0px 1px 0px 0px #f0f2f4;
}

.box-hover {
  margin: 5% 5% 5% 5% ;
}
.box-hover:hover {
  transform: scale(1.1,1.1);
  border-bottom: 5px solid  rgb(100,196,196);
}

.content-contact {
  padding: 5%;
  align-content: center;
  height:inherit;
}
.content-contact a img {
  height: 80%;
}
*/
