@import url("home.css");
@import url("head.css");
@import url("intro.css");
@import url("about.css");
@import url("job.css");
@import url("test.css");

@import url("project.css");
@import url("contact.css");
@import url("footer.css");

.heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  white-space: nowrap;
}
.heading::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 300px;
  height: 2px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}


.header1 {
  color: #444649;
  font-family: "raleway-bold";
  font-size: 18pt;
  position: relative;
  margin-top: 25vh;
}
.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 0 75px 0;
  width: 6vw;
}
/*
.content {
  height: 300%;
  background-color: white;
  position: relative;
  z-index: -5;
}
*/
